@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-color: #25051A;
}


@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: var(--background-color);
  }
}

@layer utilities {
  .blurred-text {
    color: transparent;
    text-shadow: 0 0 2px #fff;
  }
}