@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-color: #25051A;
}


@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: var(--background-color);
  }

  *::-webkit-scrollbar {
    background-color: transparent;
    width: 15px;
  }
  *::-webkit-scrollbar-track {
    background-color: transparent;
  }
  *::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 4px solid transparent;
    background-color: rgba(255,255,255,0.3);
    background-clip: content-box;
  }
  
  
}

@layer utilities {
  .blurred-text {
    color: transparent;
    text-shadow: 0 0 2px #fff;
  }

  #backdrop-text::before {
    content: "Accessibility Audio Visual Auditory Stimuli Universal Design Screen Readers Alt Text Captioning Assistive Technology Braille Displays Inclusive Practices Color Contrast Keyboard Navigation Text-to-Speech Hearing Aids Visual Impairment Inclusive Technology Usability Testing Closed Captions Audio Descriptions Assistive Devices Web Accessibility Cognitive Disabilities Visual Elements Inclusive Content Color Blindness Barrier-Free Design A11y Compliance Equal Opportunity Tactile Feedback Accessible Fonts Audio Recognition Visual Perception Wheelchair Ramps Alternative Formats Accessible Education Responsive Design Captioning Services Digital Inclusion Visual Hierarchy Auditory Processing Adaptive Software Audio Amplification Visual Balance Inclusive Environments Visual Navigation Accessibility Guidelines Visual Harmony Audio Interfaces Web Design Accessible Media Visual Appeal Auditory Stimuli Audio Feedback Assistive Resources Auditory Experience Screen Magnification Inclusive Interfaces Visual Cues Visual Representation Audiovisual Content Visual Diversity Accessible UI Auditory Perception Visual Clarity Auditory Inputs Visual Consistency Auditory Displays Accessible Graphics Visual Storytelling Audio Interfaces Accessible Presentations Auditory Input Visual Symmetry Accessible Apps Visual Consistency Visual Guidelines Accessibility Symbols Auditory Outputs Accessible Technology Visual Consistency Auditory Equalization Accessible Documents Visual Balance Universal Access Audio Interfaces Visual Representation Accessible Gaming Auditory Navigation Accessible Content Visual Harmony Accessible Websites Auditory Recognition Visual Consistency";
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    opacity: 0.1;
    color: white;
    max-width: 100%;
    z-index: 10;
  }
  
}